* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;    
}

body {
    background: silver;
    margin: auto;
    background-color: #E2ECEE;
}

#contenedor{
    width: 1550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

header{
    height: 230px;
    background: royalblue;
}

header h1{
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

#menunave{
    margin-top: 5px;
    margin-bottom: 5px;
}

#piedepagina{
    margin-top: 5px;
}

#imagennav{
    width: 1550px;
    height: 100pxx;
}

#imagenlogo{
    width: 100px;
    height:80px;
    margin-left: 20px;
    margin-top: 20px;
}

.titulologo {
	font-size: 14px;
    margin-left: 130px;
    margin-top: -50px; 
    font-weight: bold;
}

nav{
    background: teal;
    height: 160px;
}

nav h2{
    font-size: 35px;
    margin-left: 10px;
    line-height: 70px; 
}

nav ul{
    list-style:none;
    margin:0 260px 0 260px;
    padding:0;
    text-align: center;
}

nav ul li{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    float:left;
    text-align:center;
    font-size:14px;
    margin-right: 120px;
    
}

#menu ul {
    list-style:none;
    margin-left: 15px;
    padding:0;
    margin-right: 5px;
   }

#menu ul li { 
    position:relative;
    /*float: left;*/
    margin:0;
    padding:0;
    background-color:#2e518b;
}

  
#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:700;
    font-size:15px;
    padding:15px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-right: 200px;
}

#menu ul li:hover {
    background:#5b78a7;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
   
#menu ul ul li {
    float:none;
    width:150px
}
   
#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}
   
#menu ul li:hover > ul {
    display:block;
}

#contenidos{
	width: 1550px;
	height: 700px; overflow: hidden;
	border: 0px solid;
    background: teal;
}

#imagensecion {
        margin-top: 15px;
        width: 250px;
        height: 150px;
}

#imagenseccionsegunda {
        margin-top: 15px;
        width: 350px;
        height: 250px;
}

.secion{
        width: 900px;
        height: 670px; overflow: hidden;
        border: 1px solid #ccc;
        float: left;
        padding: 5px;
        text-align: center;
        margin-left: 10px
}

.parrafo{
        text-align: justify;
        font-size: 16px;
}
    
.segunda{
        width: 590px;
        margin-left: 12px;
        margin-right: 5px;
}

.leer-mas{
        text-decoration: none;
        border: 1px solid #006699;
        padding: 10px 20px 10px 20px;
        line-height: 70px;
}

.leer-mas:hover{
        background: #006699;
        color: #fff;
        transition: background 1s, color 1s;
}

table, th, td {
        border: 4px solid grey;
        padding: 2px;
        border-collapse: collapse;
        line-height: 70px;
        margin: 0 auto;
}


footer{
    background: royalblue;
    clear: both;
}

footer h2{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}


#imagenvision{
    margin-top: 15px;
    width: 200px;
    height: 200px;
}





#formulario{
	width: 600px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
    float: left;
    margin-left: 10px;
}

#imagenformulario{
	width: 450px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
    float: left;
    margin-left: 10px;
  
}

#imagenfor{
    margin-top: 90px;
    margin-bottom: 85px;
    height: 500px;
    width: 450px;

}


.titulocontacto{
    text-align: center
}

#mapa{
	width: 432px;
	height: 680px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

.enviar{
	padding: 10px 20px;
	background: #006699;
	color: #fdfdfd;
    font-size: 16px;
    margin: 0 auto;
}

#datos{
	margin-top: 30px;
}






